In [1]:
import pandas as pd

**I will join two csv files (usajobs and monsterjobs into one df)**

In [3]:
df_1 = pd.read_csv('data/usajobs.csv')
df_2 = pd.read_csv('data/monsterjobs.csv')

In [5]:
df = pd.concat([df_1, df_2], ignore_index=True, sort=True)

In [6]:
df.head()

,job_description,job_title
0,DOJ offers a range of opportunities for experi...,Attorney and Assistant United States Attorney
1,As an FBI Special Agent with a military or law...,Special Agent - Law Enforcement or Military Ve...
2,As an FBI Special Agent with expertise in educ...,Special Agent - Education/Teaching Background
3,As an FBI Special Agent with Accounting/Financ...,Special Agent - Accounting/Finance Background
4,"As an FBI Special Agent, your STEM background ...","Special Agent - Science, Technology, Engineeri..."

In [7]:
len(df)

32000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000 entries, 0 to 31999
Data columns (total 2 columns):
job_description    31995 non-null object
job_title          32000 non-null object
dtypes: object(2)
memory usage: 500.1+ KB

In [9]:
#save combined df as csv file
#df.to_csv('/Users/admin/flatiron/ds_mod5/career_recommendation_system/data/combined.csv', index=False)